<h1>All My Events</h1>


<% @events.each do |b| %>
  <ul>
    <li>
     
        
        <div><strong>Date</strong><br><%= b.date %></div>
        <div><strong>Input</strong><br><%= b.input %></div>
        <div><strong>Location</strong><br><%= b.location %></div>
        <div><strong>Address</strong><br><%= b.address1%></div>
        <div><br><%= b.city%></div>
        <div><br><%= b.state%></div>
        <div><br><%= b.zipcode%></div>
        <div><strong>Event Type</strong><br><%= b.event_type %></div></br>
        
       <ul><%= link_to "View", event_path(b) %></ul>
       <ul><%= link_to "SHOW OTHER EVENTS",events_path(id: b.id, show: "all_users_events") %></ul>
        
         
    </li>
  </ul>
<% end %>

 <script type="text/javascript">
// document.getElementById("currentevent").onclick= function(){
	
// }
</script>