<h1>YOUR EVENT</h1>
	<%= @event.date %><br>
	<%= @event.input %><br>
	<%= @event.location%><br>
	<%= @event.address1%><br>
	<%= @event.city%><br>
	<%= @event.state%><br>
	<%= @event.zipcode%><br>
	<%= @event.event_type%><br>
	<%= image_tag @event.picture.url %>


<% if (@event.user.id == @current_user.id) %>
	<ul id="currentevent"><%= link_to "Edit your event", edit_event_path(edit: "my_events") %>
 	
	<%= button_to "Delete", {:action => 'destroy', :id => @event.id }, {:method => :delete, confirm: "Are you sure you want to delete this event"} %></ul>
<% end %>